// Base
html {
  font-size: 62.5%;
  position: relative;
}

body {
  @include font-primary();
  @include regular();

  overflow-y: auto;
  overflow-x: hidden;
  background-color: $c-background;
  color: $c-font;
  font-size: $size-base;
}
