extends mixins/_layout

block vars
    - var bodyClasses = 'loading frontpage'

block extraScripts

block extraMarkup

block content
    //- Grid lines
    .grid.grid--deco
        .grid__line
        .grid__line
        .grid__line
        .grid__line
        .grid__line
    //- / Grid lines 

    //- Outer grid (title, etc.)
    .grid.grid--outer
        .title-wrap
            h2.heading-1 Projets sélectionnés
            div.teasing-1 2017 #[span.tiret] 2018
        .presentation.teasing-2
            p.presentation__text Et sinon, lorsque je ne code pas, je dessine ou je joue du piano. Je suis curieuse, créative, touche-à-tout. J'aime apprendre et créer continuellement. Vous pouvez découvrir mes illustrations sur mon tumblr, mon code sur mon github, mon CV sur linkedin ou m'écrire un petit mot si vous le souhaitez.
            a.btn(href="http://github.com/hectoplasme" target="_blank") Github 
            a.btn(href="https://www.linkedin.com/in/laurianne-terrier-06348788/" target="_blank") Linkedin
            a.btn(href="http://Laurianneterrier.tumblr.com" target="_blank") Tumblr
            a.btn(href="mailto:laurianne.terrier@yahoo.fr?subject=Bien le bonjour Laurianne!") Email
    //- / Outer grid

    //- //- Full view container
    .fullview
        .fullview__item(style="background-image: url('./assets/images/epaps-fv.jpg')")
            span.fullview__item__number.teasing-1 #[span.tiret] 01
            .fullview__item__title-wrap
                h3.fullview__item__title.heading-3 Paris Saclay Business
                ul.list
                    li.list__item.tag Scss
                    li.list__item.tag Pug
                    li.list__item.tag Javascript
                    li.list__item.tag Wordpress
                    li.list__item.tag PHP
                    li.list__item.tag Gulp
                    li.list__item.tag Git
                p.fullview__item__description.text Intégration complète et développement d’un thème WordPress à partir d'une maquette conçue par #[a.link(href="http://spintank.fr" target="_blank") Spintank] pour Paris Saclay afin de toucher de potentiels investisseurs étrangers.
                a.fullview__item__btn.btn(href="http://paris-saclay.business" target="_blank") Voir le projet
        .fullview__item(style="background-image: url('./assets/images/vinci-fv.jpg')")
            span.fullview__item__number.teasing-1 #[span.tiret] 02
            .fullview__item__title-wrap
                h3.fullview__item__title.heading-3 Vinci Leonard
                ul.list
                    li.list__item.tag Wordpress
                    li.list__item.tag PHP
                    li.list__item.tag Git
                p.fullview__item__description.text Transformation d’un site statique (design par #[a.link(href="http://spintank.fr" target="_blank") Spintank]) en thème worpdress afin de concevoir un back-office permettant de modifier le contenu du site facilement. En collaboration avec l’équipe de développeur de #[a.link(href="http://spintank.fr" target="_blank") Spintank]. 
                a.fullview__item__btn.btn(href="http://leonard.vinci.com" target="_blank") Voir le projet
        .fullview__item(style="background-image: url('./assets/images/nf-habitat-fv.jpg')")
            span.fullview__item__number.teasing-1 #[span.tiret] 03
            .fullview__item__title-wrap
                h3.fullview__item__title.heading-3 NF Habitat
                ul.list
                    li.list__item.tag Wordpress
                    li.list__item.tag PHP
                    li.list__item.tag Git
                p.fullview__item__description.text Transformation d’un site statique (design par #[a.link(href="http://spintank.fr" target="_blank") Spintank]) en thème worpdress afin de concevoir un back-office permettant de modifier le contenu du site facilement. En collaboration avec l’équipe de développeur de #[a.link(href="http://spintank.fr" target="_blank") Spintank]. 
                a.fullview__item__btn.btn(href="http://nf-habitat.fr" target="_blank") Voir le projet
        .fullview__item(style="background-image: url('./assets/images/fluffy-cookie-fv.jpg')")
            span.fullview__item__number.teasing-1 #[span.tiret] 04
            .fullview__item__title-wrap
                h3.fullview__item__title.heading-3 Fluffy Cookie
                ul.list
                    li.list__item.tag React
                    li.list__item.tag Firebase
                    li.list__item.tag TailwindCSS
                    li.list__item.tag Git
                p.fullview__item__description.text Application CRUD permettant de s'authentifier, d'enregistrer ses propres recettes ou celles des autres dans des tableaux. Projet personnel conçu pour me permettre d'enrichir et valider mes compétences en front-end et back-end. Design librement inspiré de pinterest.
                a.fullview__item__btn.btn(href="https://fluffy-cookie.firebaseapp.com" target="_blank") Voir le projet
                a.fullview__item__btn.btn(href="https://github.com/Hectoplasme/fluffy-carrot" target="_blank") Voir le code
        .fullview__item(style="background-image: url('./assets/images/luditales-fv.jpg')")
            span.fullview__item__number.teasing-1 #[span.tiret] 05
            .fullview__item__title-wrap
                h3.fullview__item__title.heading-3 Luditales
                ul.list
                    li.list__item.tag Illustrator
                    li.list__item.tag Photoshop
                    li.list__item.tag Pug
                    li.list__item.tag Stylus
                    li.list__item.tag Javascript
                    li.list__item.tag Gulp
                    li.list__item.tag Git
                p.fullview__item__description.text Conception d’un site de A à Z, du design à l’intégration. Site vitrine d’une entreprise fictive porteuse d’un projet d’application de création et diffusion d’histoires interactives. Le site peut se visiter à l'image d'une histoire dont vous êtes les héros, se construisant au gré des choix du visiteur.
                a.fullview__item__btn.btn(href="http://laurianneterrier.com/luditales" target="_blank") Voir le projet
                a.fullview__item__btn.btn(href="https://github.com/Hectoplasme/luditales" target="_blank") Voir le code
    //- Revealer element
    .revealer

    //- Thumbs grid
    .grid.grid--thumbs
        .grid__item(data-revealer="#35c394")
            h3.grid__item__title.heading-6 #[span Paris Saclay Business] 
            p.grid__item__number.heading-6 #[span 01]
            .grid__item__img-wrap
                img.grid__item__img(src="./assets/images/epaps-th.jpg", alt="Developpement de paris saclay business")
                .grid__item__bg(style="background-image: url('./assets/images/epaps-th.jpg')")
        .grid__item(data-revealer="#9985ee")
            h3.grid__item__title.heading-6 #[span Vinci Léonard ]
            p.grid__item__number.heading-6 #[span 02]
            .grid__item__img-wrap
                img.grid__item__img(src="./assets/images/vinci-th.jpg", alt="Developpement back-end du site de Vinci Leonard")
                .grid__item__bg(style="background-image: url('./assets/images/vinci-th.jpg')")
        .grid__item(data-revealer="#e81147")
            h3.grid__item__title.heading-6 NF Habitat 
            p.grid__item__number.heading-6 03
            .grid__item__img-wrap
                img.grid__item__img(src="./assets/images/nf-habitat-th.jpg", alt="Developpement back-end du site de NF habitat")
                .grid__item__bg(style="background-image: url('./assets/images/nf-habitat-th.jpg')")
        .grid__item(data-revealer="#4718f5")
            h3.grid__item__title.heading-6 #[span Fluffy Cookie]
            p.grid__item__number.heading-6 #[span 04]
            .grid__item__img-wrap
                img.grid__item__img(src="./assets/images/fluffy-cookie-th.jpg", alt="Developpement de l'application web 'fluffy cookie'")
                .grid__item__bg(style="background-image: url('./assets/images/fluffy-cookie-th.jpg')")
        .grid__item(data-revealer="#ffcf00")
            h3.grid__item__title.heading-6 #[span Luditales]
            p.grid__item__number.heading-6 #[span 05]
            .grid__toggle
                .grid__toggle__inner
                    .grid__toggle__text Retour
                    
            .grid__item__img-wrap
                img.grid__item__img(src="./assets/images/luditales-th.jpg", alt="Design et développement du site vitrine de Luditales")
                .grid__item__bg(style="background-image: url('./assets/images/luditales-th.jpg')")

        
