header.header.js-header.is-loading
  .header__bg.js-panel
  .header__arrow.js-logo 
    i.fas.fa-arrow-up.js-icon
  h1.header__title
    .word Laurianne
    .word Terrier
    .word.word--small Développeuse front-end
  button.btn.js-enter Chargement...


  .loader-wrap.js-loader
      .loader
        